<!DOCTYPE html>
<html style="margin: 0; padding: 0; box-sizing: border-box;">
<body style="margin: 0; padding: 0; box-sizing: border-box;">
    <div style="margin: 0; box-sizing: border-box; padding: 1rem; font-family: sans-serif; width: 100%; text-align: center;">
        <h1 style="margin: 0; padding: 0; box-sizing: border-box;">Bellamy Labs</h1>
        <h2 style="margin: 0; padding: 0; box-sizing: border-box;">Password Reset Verification Code</h2>
        <p style="margin: 0; padding: 0; box-sizing: border-box;">use this code to reset your password</p>
    </div>
    <div style="margin: 0; padding: 0; box-sizing: border-box; text-align: center;">
        <h1 style="margin: 0; padding: 0; box-sizing: border-box; color: #8a2be2;"><div>{{.Token}}</div></h1>
    </div>
</body>
</html>